#
# IRI to document IRI mappings
# case sensitive
# \ needs to be used to escape colons.
# e.g.
http\://opencirm.org/upper=file\:///home/borislav/sharegov/opencirm/src/ontology/demo/opencirmupper.owl
http\://opencirm.org/platform=file\:///home/borislav/sharegov/opencirm/src/ontology/demo/opencirmplatform.owl
http\://opencirm.org/cirm=file\:///home/borislav/sharegov/opencirm/src/ontology/demo/cirm.owl
http\://opencirm.org/demo=file\:///home/borislav/sharegov/opencirm/src/ontology/demo/cirmdemo.owl
